[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
scikit-learn = "*"
argparse = "*"
gensim = "*"
scipy = "==1.10.1"
numpy = "*"
lingua-language-detector = "*"
spacy = "*"
spacy-download = "*"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
gogogo = "python src/main.py --de --en --data ./input/stepstone_info.csv raw_text --data ./input/indeed_info.csv raw_text"